.loginbg{
     background: url('../../../../src/assets/login.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: scroll;
     width: 100%;
     
       
}