

.loginbg{
     background: url('../../../../assets/login.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: scroll;
     width: 100%;
     height: 750px;
     
       
}